<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.teami.mapper.RoomMapper">

	<resultMap type = "org.teami.domain.RoomVO" id="RoomMap">
		<id property="room_code" column="room_code"/>
		<result property="room_code" column="room_code"/>
		<result property="room_name" column="room_name"/>
		
		<collection property="roomMemberList" resultMap="RoomMemberMap">
		</collection>
	</resultMap>
	
	<resultMap type="org.teami.domain.RoomMemberVO" id="RoomMemberMap">
		<result property="room_code" column="room_code"/>
		<result property="user_id" column="user_id"/>
	</resultMap>
	
	<select id="getList" resultMap="RoomMap">
		SELECT
			room.room_code, room_name, user_id
		FROM
			room_table room LEFT OUTER JOIN room_member_table rmt on room.room_code = rmt.room_code
		WHERE rmt.user_id=#{user_id}
	</select>
	
	<select id="read" resultMap="RoomMap">
		SELECT
			room.room_code, room_name, user_id
		FROM
			room_table room LEFT OUTER JOIN room_member_table rmt on room.room_code = rmt.room_code
		WHERE room.room_code=#{room_code}
	</select>
	
	<insert id="insert">
		insert into room_table(room_code, room_name)
		values(#{room_code}, #{room_name})
	</insert>
	
	<insert id="insertRoomMember">
		insert into room_member_table(room_code, user_id)
		values(#{room_code}, #{user_id})
	</insert>
	
	<select id="roomChk" resultType="int">
		SELECT count(*) FROM room_table WHERE room_code=#{user_code}
	</select>
	
	<update id="createRoomBoard" parameterType="java.lang.String">
		CREATE TABLE IF NOT EXISTS board_${room_code} (
			bno INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
			title VARCHAR(200) NOT NULL,
			content VARCHAR(2000) NOT NULL,
			writer VARCHAR(50) NOT NULL,
			notice CHAR(1) DEFAULT 0,
			regdate DATETIME DEFAULT CURRENT_TIMESTAMP,
			updatedate DATETIME DEFAULT CURRENT_TIMESTAMP
			
			);
	</update>
	
</mapper>